
/* css */

@font-face {
    font-family: "terminus";
    src: url(terminus.ttf) format("truetype")
}

body {
    background: rgb(209,51,51);
    background: radial-gradient(circle, rgba(209,51,51,1) 0%, rgba(136,44,144,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "terminus", serif;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 222, 222);
}

h2 {
    font-family: "terminus", serif;
    color: rgb(245, 222, 222);
    font-size: 24px;
    transform: translate(10%, 120%);
    opacity: 100% !important;

}

.input-box {
    background-color: black;
    opacity: 35%;
    width: 735px;
    height: 331px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    font-family: "terminus", serif;
    position: fixed;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color:white;
    opacity: 80%;
    color:black;
    height:42px;
    width:300px;
    font-size: 24px;
}

.generate {
    font-family: "terminus", serif;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color:white;
    opacity: 80%;
    color:black;
    height:47px;
    width:42px;
    font-size: 24px;
}

.result {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    z-index: 10;
    position:absolute;
    top:70%
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.loading {
    font-family: "terminus", serif;
    color: rgb(245, 222, 222);
    font-size: 24px;
    position:absolute;
    top: 60%;
    opacity: 30%;
    display:none;
}